<section id="fh5co-contact" data-section="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center" style="padding-bottom: 0px; margin-bottom: 0px;">
				<h2 class="to-animate">{{ with .Site.Params.contact.title }}{{ . | markdownify }}{{ end }}</h2>
			</div>
		</div>
			
		<div class="row row-bottom-padded-md">
			<div class="col-md-12 to-animate" style="margin-left:40%; margin-right:35%; width:80%;">
				<h3>{{ with .Site.Params.contact.info }}{{ . | markdownify }}{{ end }}</h3>
				<ul class="fh5co-contact-info">
				{{ range .Site.Params.contact.details }}
					<li class="fh5co-contact-address "><i class="{{ with index . 0}}{{ . }}{{ end }}"></i>{{ with index . 1}}{{ . | markdownify }}{{ end }}</li>
				{{ end }}
				</ul>
			</div>
		</div>
	</div>
</section>
